@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
.App{
  width:100vw;
 height: 100vh;
 overflow: auto;
  display:flex;
  flex-direction: column;
 
}
.navbar{
  height:auto;
  width:100%;
  padding:10px 0px 10px 0px;
  display:flex;
  align-items: center;
  justify-content: center;
  gap:20px;
   font-family: "Fredoka", sans-serif;
   color:black;
   font-size: 40px;
   font-weight: 600;
   background-color: #F4A261;
}
.logo{
  width:40px;
}

/* signup page */
.signup{
  background-color: #FFF8F0;
  padding: 70px 20px 70px 20px;
  width:100%;
  height:auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signupform{
  height:auto;
  width:500px;
  padding:20px;
  display:flex;
  
  flex-direction: column;
  background-color: #2A9D8F;
  border-radius: 12px;
}
.signuphead{
   font-family: "Fredoka", sans-serif;
   color:#2D2D2D;
   font-size: 30px;
   font-weight: 600;
   text-align:center ;

}
form{
  width:100%;
  height:auto;
  gap:20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.name ,.email ,.phonenumber ,.password ,.image{
  display:flex;
  flex-direction: column;
  width:100%;
  gap:10px;
}
.nameinput ,.emailinput ,.passwordinput ,.numberinput{
  width:100%;
  height:auto;
   font-family: "Fredoka", sans-serif;
   color:#2D2D2D;
   font-size: 24px;
  border-radius: 8px;
   padding:5px 5px 5px 5px;
}
form label{
   font-family: "Fredoka", sans-serif;
   color:#2D2D2D;
   font-size: 20px;
   font-weight: 500;
}
.imageinput{
   width:100%;
  height:auto;
   font-family: "Fredoka", sans-serif;
   color:#2D2D2D;
   font-size: 18px;
   font-weight: 500;
  border-radius: 8px;
   padding:5px 5px 5px 5px;
}
.formsubmit{
  width:100%;
   height:auto;
   font-family: "Fredoka", sans-serif;
   color:#2D2D2D;
   font-weight: 500;
   font-size: 24px;
  border-radius: 8px;
  padding:6px 0px 6px 0px;
  background-color: #E76F51;
}
.login{
   background-color: #FFF8F0;
  
  width:100%;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newuser{
   font-family: "Fredoka", sans-serif;
   color:#2D2D2D;
   font-weight: 500;
   font-size: 16px;
   padding-left:5px;
}

/* main page */

.main{
  width:100%;
  height:90vh;
  display:flex;

}
.sidebar{
  width:7%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color:#F8F8F7;
  padding:20px 10px 20px 10px;
}
.upper , .lower{
  height:auto;
  width:100%;
  display:flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
  justify-content: center;
}
.messagebar{
  width:40%;
  height:100%;
  display:flex;
  flex-direction: column;
  background-color:white;
  border-right: 1px solid black;
}
.message{
  width:95%;
  height:100%;
  display:flex;
  flex-direction: column;
  background-image:url(../public/wallapaper.jpeg) ;
  background-size:95% auto;
}
.messagehead{
    font-family: "Fredoka", sans-serif;
   color:#2D2D2D;
   font-weight: 600;
   font-size: 30px;
   padding:18px 0px 19.5px 10px;
   margin-bottom:10px;
   border-bottom:1px solid #2D2D2D;
}
.allusers{
  display:flex;
    font-family: "Fredoka", sans-serif;
   color:#2D2D2D;
   font-weight: 500;
   font-size: 20px;
  gap:10px;
  padding:10px;
  height:auto;
  width:100%;
  margin-bottom: 20px;
  position: relative;

}
.coverimage{
  width:50px;
  overflow: hidden;
  border-radius: 40px;
  
}
.coverimage img{
  aspect-ratio: 1/1;
}
.messagename{
  display:flex;
  flex-direction: column;
  gap:5px;
}
.recentchats{
     font-family: "Fredoka", sans-serif;
   color:#2D2D2D;
   font-weight: 400;
   font-size: 16px;
}
.userprofile{
  width:100%;
  height:auto;
  display:flex;
  flex-direction: column;
  align-items: left;
  padding:10px 10px 0px 10px;
  gap:30px;
}
.userimage{
   width:30%;
  overflow: hidden;
  border-radius: 80px;
}
.userimage img{
  aspect-ratio: 1/1;
}
.parentphone , .parentemail{
  display: flex;
  flex-direction: column;
  width:100%;

  align-items: left;

}
.useremailhead{
     font-family: "Fredoka", sans-serif;
   color:#2D2D2D;
   font-weight: 400;
   font-size: 14px;
}
.useremail ,.userphone{
     font-family: "Fredoka", sans-serif;
   color:#2D2D2D;
   font-weight: 500;
   font-size: 18px;
}
.username{
    font-family: "Fredoka", sans-serif;
   color:#2D2D2D;
   font-weight: 500;
   font-size: 24px;
}
.messagehead1{
  display:flex;
  padding:10px 0px 10px 10px;
  background-color: white;
  align-items: center;
  gap:10px;
  border-bottom:1px solid black;
}
.message{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
 
}
.messages{
  display:flex;
  align-items:center;
  width:100%;
  height:auto;
   background-color: white;
   border-top: 1px solid black;
   padding:0px 10px 0px 10px;
}
.chat{
  width:95%;
  height:auto;
  padding:10px;
    font-family: "Fredoka", sans-serif;
   color:#2D2D2D;
   font-weight: 400;
   font-size: 20px;
   border:none;

}
.chatsdiv{
  height:100%;
  overflow: auto;
  width:100%;
  display:flex;
  flex-direction:column;
  gap:3px;
  padding:10px 10px 10px 10px;
  
}
.sendersidechats{
  background-color: rgb(185, 240, 185);
  text-align: right;
  padding:10px;
    font-family: "Fredoka", sans-serif;
   color:#2D2D2D;
   font-weight: 400;
   font-size: 18px;
   align-self:flex-end;
   max-width:50%;
   
   border:1px solid rgba(0,0,0,0.1);
   border-radius:8px;
   
}
.sendersidechats1{
  background-color: rgb(185, 240, 185);
  text-align: right;
  padding:10px;
    font-family: "Fredoka", sans-serif;
   color:#2D2D2D;
   max-width:50%;
   font-weight: 400;
   font-size: 18px;
   align-self:flex-end;
  
   border:1px solid rgba(0,0,0,0.1);
   border-radius:8px;
   
}
.recieversidechats{
  background-color: white;
  align-self:flex-start;
  padding: 10px;
    font-family: "Fredoka", sans-serif;
   color:#2D2D2D;
   font-weight: 400;
   max-width:50%;
   font-size: 18px;
   
    border:1px solid rgba(0,0,0,0.1);
    border-radius:8px;
}
.nomessagebar , .nomessage,.nosidebar{
  display:none;
}

@media screen and (max-width:670px) {
  .messagebar{
    width:93%;
  }
  .message {
    width:100%;
  }
}